body {
    font-size: 11pt;
    font-family: Verdana, Helvetica, Arial, Tahoma, sans-serif;
    color: black;
    background-color: white;
}

a {
    text-decoration: none;
    color: #333;
}

a:link {
    font-size: 10pt;
}

a:hover {
    font-weight: bold;
    color: black;
}